.three__image--cut {
  height: 52px;
  width: 78%;
  object-fit: contain;
}

.section-title {
  color: #324950 !important;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.section__icon--settings {
  height: 6px;
}

.column__title {
  text-transform: lowercase;
}

.open-field-crop-info-1 {
  margin-bottom: 6px;
  gap: 22px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.open-field-crop-info__divider {
  height: 1px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #57984c;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.footer__link {
  color: #ffffff !important;
  font-family: Roboto !important;
}

.footer__icon {
  height: 30px;
}

.home {
  background-color: #f7f7f7;
  width: 100%;
}

.banner {
  height: 850px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 18px;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.column {
  margin-bottom: 286px;
  gap: 228px;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    gap: 171px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    gap: 171px;
  }

  @media only screen and (max-width: 550px) {
    gap: 114px;
  }
}

.column__header {
  margin-right: auto;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 1126px;
  width: 100%;
  margin-left: auto;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.column__header__logo {
  height: 112px;
  align-self: center;
  width: 20%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.column__navigation {
  gap: 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.column__navigation__search {
  color: #324950;
  padding-left: 12px;
  font-size: 16px;
  gap: 16px;
  display: flex;
  width: 38%;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-bottom: 1px solid #324950;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.search {
  height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 18px;
  object-fit: contain;
}

.column__navigation__menu {
  font-family: Heebo !important;
  font-weight: 500 !important;
}

.column__intro {
  margin-left: auto;
  margin-right: auto;
  gap: 60px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  max-width: 804px;
  width: 100%;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 30px;
  }
}

.column__intro__title {
  color: #72543f !important;
  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.column__intro__button {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 1.12px;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  background-color: #57984c;
  text-align: center;
  height: 54px;
  min-width: 160px;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.stackvector_one {
  height: 190px;
  position: relative;
}

.home__image {
  height: 190px;
  flex: 1;
  object-fit: cover;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
}

.rowvector_one {
  padding-left: 56px;
  padding-right: 56px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: max-content;
  margin: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column-1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column__image--chart {
  height: 52px;
  margin-left: 20px;
  width: 24%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.column-2 {
  padding-left: 48px;
  padding-right: 48px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column__image--close {
  height: 48px;
}

.three {
  padding-left: 50px;
  padding-right: 50px;
  gap: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column-3 {
  padding-left: 50px;
  padding-right: 50px;
  gap: 22px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column__image--search {
  height: 54px;
  width: 20%;
  object-fit: contain;
}

.column-4 {
  padding-left: 50px;
  padding-right: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-1 {
  padding-left: 40px;
  padding-right: 40px;
  align-self: center;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__column--moon {
  padding-left: 8px;
  padding-right: 8px;
  gap: 22px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section__image--moon {
  height: 52px;
  margin-left: 30px;
  width: 42%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.section__column--globe {
  gap: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.section__image--globe {
  height: 58px;
  margin-right: 78px;
  width: 30%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.row {
  height: 1098px;
  margin-top: 70px;
  padding-left: 56px;
  padding-right: 56px;
  background-image: url(../images/Union.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  gap: 100px;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
    gap: 100px;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    gap: 75px;
  }

  @media only screen and (max-width: 550px) {
    gap: 50px;
  }
}

.section__row--vision {
  align-self: stretch;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.section__column--vision {
  gap: 26px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.section__text--vision {
  width: 86%;
  line-height: 162.7%;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.section__image--vision {
  height: 498px;
  width: 48%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.section__row--overflow {
  margin-right: auto;
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 1104px;
  width: 100%;
  margin-left: auto;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section__stack--overflow {
  height: 500px;
  flex: 1;
  position: relative;
  align-content: center;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    width: 100%;
    flex: unset;
    height: auto;
  }
}

.section__image--overflow {
  height: 500px;
  width: 88%;
  object-fit: contain;
}

.section__button--overflow {
  height: 90px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  box-shadow: 0 24px 24px 0 #00000059;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  position: absolute;
  left: 37%;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 44px;
  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__column--mission {
  gap: 26px;
  display: flex;
  width: 44%;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.section__text--mission {
  width: 100%;
  line-height: 162.7%;
}

.rowagriderasmai {
  margin-top: 100px;
}

.mainactiv {
  gap: 14px;
  background-color: #ececec;
  padding: 70px 56px;
  @media only screen and (max-width: 1440px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media only screen and (max-width: 1050px) {
    padding: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding: 16px;
  }
}

.stackopenfieldc {
  height: 380px;
  margin-bottom: 14px;
  margin-right: 20px;
  width: 62%;
  position: relative;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.stackopenfieldc__image {
  height: 260px;
  width: 32%;
  object-fit: contain;
  position: absolute;
  left: 0px;
  top: 25px;
  margin: auto;
}

.stackopenfieldc__list {
  margin-left: 54px;
  margin-right: 8px;
  gap: 140px;
  flex: 1;
  display: flex;
  position: absolute;
  bottom: 1px;
  right: 0px;
  left: 0px;
  max-width: 1038px;
  width: 100%;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.open-field-crop-info {
  gap: 22px;
  display: flex;
  width: 32%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.open-field-crop-info__description {
  text-align: center;
  line-height: 142.7%;
}

.stackopenfieldc__settings-stack {
  height: 232px;
  padding-left: 426px;
  padding-right: 426px;
  flex: 1;
  position: absolute;
  align-content: center;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 1440px) {
    height: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.stackopenfieldc__settings-stack__image {
  height: 232px;
  flex: 1;
  object-fit: cover;
  margin-left: auto;
}

.stackopenfieldc__settings-stack__settings-image {
  height: 6px;
  position: absolute;
  right: 47%;
  top: 11px;
  margin: auto;
}

.stackopenfieldc__image--secondary {
  height: 212px;
  width: 26%;
  object-fit: contain;
  position: absolute;
  right: 1px;
  top: 12%;
  margin: auto;
}

.footer {
  display: flex;
  background-color: #324950;
}

.footer__column {
  margin-bottom: 12px;
  gap: 18px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer__column__row {
  background-color: #2c3f45;
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer__column__row__content {
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.footer__links {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer__icons {
  gap: 14px;
  display: flex;
}

.footer__copyright {
  color: #b8b8b8 !important;
  font-family: Roboto !important;
}
