*:focus{outline:none;}
*{box-sizing:border-box;}

html{overflow-x:hidden;}

body{
    font:normal 12px/18px Tahoma,Arial,sans-serif;
    margin:0;
    width:100%;
    background:#F4F9FC;
    color:#333;
}

a{
    text-decoration:none;
    color:#333;
    transition:color 300ms;
}

a:hover{color:#00CB84;}

h1{
    margin:0;
    font-size:24px;
}

.flex{
    display:flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding:0 15px;
    width:100%;
    align-items: center;
}

.w40{width:40%;}
.w60{width:60%;}
.w100{width:100%;}

.al{text-align:left;}
.ac{text-align:center;}

.p20{padding:20%;}

.row{margin:0 0 15px;}

#content{
    color:#333;
    font-size:16px;
}

/* ===== HEADER ===== */

.header{
    background-color:#434242;
}

.header .logo{
    padding:5px 0;
    display: flex;        
    justify-content: flex-end;
}

.header h1{
    color:#fff;
    font-size:18px;
}

/* ===== FORM ===== */

.inner-form input[type=email],
.inner-form input[type=password]{
    background:#F6F9FE;
    height:48px;
    width:100%;
    border:1px solid #D4D9DF;
    border-radius:6px;
    padding:0 15px;
}

.inner-form input:focus{
    border-color:rgba(82,168,236,.8);
    box-shadow:0 0 8px rgba(82,168,236,.6);
}

.inner-form label{
    display:block;
    font-size:16px;
    font-weight:700;
    margin-bottom:8px;
    text-align: right;
}

/* ===== BUTTON ===== */

.btn{
    height:48px;
    width:100%;
    background:#00CB84;
    box-shadow:0 2px 4px rgba(0,0,0,.25);
    text-align:center;
    color:#fff;
    display:block;
    padding:12px;
    border-radius:6px;
    transition:.3s;
    font-size:18px;
    cursor:pointer;
    border:none;
}

.btn:hover{background:#1f888e;}
.btn:active{background:#1f4b8e;}

/* ===== ALERTS ===== */


/* ===== LOGIN LAYOUT ===== */

#right-area{
    order: 1;
    width:60%;
}

#right-area img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#left-area{
    width:40%;
    order: 2;
}

/* ===== MOBILE ===== */
@media(max-width: 480px) {
    #right-area{display:none;}
    #left-area{width:100%;}
    
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }

    body{
        min-width: 320px;
    }

    .header{text-align:center;}

    .inner-form input,
    .btn {
        width: 100%;
    }
}

@media(min-width: 320px) {
    
}
