.row-custom {
  margin-top: 30px;
  padding-left: 800px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

#article {
  width: 60%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
}

.tomatoList {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tomatoItem {
  width: 200px;
    height: 200px;
    object-fit: cover;
	display: block;
    margin: auto;
}

.tomatoImg img {
  width: 100%;
  height: auto;
}

.tomatoInfo {
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

input {
  background-color: transparent;
  width: 100%;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select,
button {
  appearance: none;
  background-color: transparent;
  border-color: unset;
  border-width: 0;
  border-radius: unset;
  padding: unset;
  font-size: unset;
  line-height: unset;
  color: inherit;
}
input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}

.tomato-all {
  background-color: #F0FFF0;
  width: 100%;
}

.header {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 #00000026;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.header__row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.header__logo {
  height: 82px;
  width: 14%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.header__column {
  gap: 22px;
  display: flex;
  width: 44%;
  flex-direction: column;
  align-items: flex-end;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.header__search {
  color: #324950;
  padding-left: 12px;
  font-size: 16px;
  gap: 16px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-bottom: 1px solid #324950;
}

.dhi-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.search {
  height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 18px;
  object-fit: contain;
}

.banner {
  height: 480px;
  background-image: url(../images/img_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.imageseven_one {
  height: 480px;
  width: 100%;
  object-fit: cover;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.rowagriderafres {
  margin-top: 50px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.content__header {
  gap: 40px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}

.content__settings-icon {
  height: 6px;
}

.content__description {
  color: #324950 !important;
  margin-top: 40px;
  width: 100%;
  line-height: 150%;
}

.content__description-span {
  font-weight: 700;
}

.content__footer {
  margin-top: 20px;
  margin-right: auto;
  gap: 26px;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  max-width: 1066px;
  width: 100%;
  margin-left: auto;
  @media only screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content__divider {
  height: 60px;
  background-color: #eb5757;
  width: 4px;
  border-radius: 2px;
  @media only screen and (max-width: 1050px) {
    width: 60px;
    height: 4px;
  }
}

.content__footer-text {
  color: #324950 !important;
  width: 100%;
  line-height: 150%;
}

.row {
  margin-top: 30px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.rowprogramname {
  background-color: #fff9f9;
  width: 64%;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.rowprogramname__list {
  gap: 30px;
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.columnline_one {
    margin-top: 40px;
    padding-left: 56px;
    padding-right: 56px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
    @media only screen and (max-width: 550px) {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 30px;
    }
}

.rowline {
  gap: 26px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.rowline__line {
  height: 40px;
  background-color: #eb5757;
  width: 4px;
  border-radius: 2px;
  @media only screen and (max-width: 1050px) {
    width: 40px;
    height: 4px;
  }
}

.userprofile {
    width: 60%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    margin: 0 auto; /* Центрує весь блок по горизонталі */
    @media only screen and (max-width: 1440px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media only screen and (max-width: 1050px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media only screen and (max-width: 550px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 80%;
    }
}

.footer {
    margin-top: 50px;
    display: flex;
    background-color: #324950;
    width: 100%;
    clear: both;
}

.footer__column {
  margin-bottom: 12px;
  gap: 18px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer__column__row {
  background-color: #2c3f45;
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer__links {
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @media only screen and (max-width: 1440px) {
    width: 100%;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    width: 100%;
  }
}

.footer__icons {
  gap: 14px;
  display: flex;
}

.footer__copyright {
  color: #b8b8b8 !important;
}
.header__menu-item--home {
  font-family: Heebo !important;
}

.breeding-program-details {
  margin-bottom: 50px;
  gap: 12px;
  display: flex;
  width: 32%;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.breeding-program-details__column {
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.breeding-program-details__title {
  line-height: 142.7%;
}

.breeding-program-details__separator {
  height: 1px;
  background-color: #324950;
}

.breeding-program-details__description {
  color: #324950 !important;
  line-height: 150%;
}

.user-profile {
  width: 100%;
  display: flex;
}

.user-profile__column {
  width: 100%;
}

.user-profile__image {
  height: 320px;
  width: 100%;
  object-fit: cover;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.user-profile__tag {
  margin-top: -68px;
  position: relative;
  background-color: #ffffff;
}

.user-profile__tag-text {
  color: #57984c !important;
  margin-top: 6px;
  text-align: center;
  line-height: 142.7%;
}

.user-profile__tag-text-span {
  font-size: 16px;
  font-weight: 400;
}

.header__menu {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.footer__icon {
  height: 30px;
}

.ui.text.size-textxs {
  font-size: 14px;
  font-weight: 400;
}

.ui.text.size-texts {
  font-size: 16px;
  font-weight: 400;
  @media only screen and (max-width: 1440px) {
    font-size: 13px;
  }
}

.ui.text.size-textmd {
  font-size: 17px;
  font-weight: 400;
  @media only screen and (max-width: 1440px) {
    font-size: 14px;
  }
}

.ui.text {
  color: #ffffff;
  font-family: Roboto;
}

.ui.heading.size-textlg {
  font-size: 18px;
  font-weight: 500;
  @media only screen and (max-width: 1440px) {
    font-size: 15px;
  }
}

.ui.heading.size-headingxs {
  font-size: 17px;
  font-weight: 700;
  @media only screen and (max-width: 1440px) {
    font-size: 14px;
  }
}

.ui.heading.size-headings {
  font-size: 20px;
  font-weight: 700;
  @media only screen and (max-width: 1440px) {
    font-size: 17px;
  }
}

.ui.heading.size-headingmd {
  font-size: 44px;
  font-weight: 700;
  @media only screen and (max-width: 1440px) {
    font-size: 37px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 34px;
  }
}

.ui.heading {
  color: #324950;
  font-family: Roboto Slab;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoSlabRegular.ttf");
  font-family: "Roboto Slab";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../fonts/HeeboMedium.ttf");
  font-family: "Heebo";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoSlabBold.ttf");
  font-family: "Roboto Slab";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoRegular.ttf");
  font-family: "Roboto";
  font-weight: 400;
}
